# APP
SCAVO_ENV=local
SCAVO_HTTP_ADDR=:8080
SCAVO_PUBLIC_BASE_URL=http://localhost:8080
SCAVO_VERSION=dev
SCAVO_COMMIT=

# JWT
SCAVO_JWT_SECRET=dev_dev_dev_dev_dev_dev_dev_dev
SCAVO_JWT_ISSUER=scavo-exchange-backend
SCAVO_JWT_TTL_HOURS=24

# AUTH CHALLENGE
SCAVO_AUTH_CHALLENGE_TTL_MINUTES=5

# POSTGRES
SCAVO_POSTGRES_URL=postgres://postgres:postgres@localhost:5432/scavo_exchange?sslmode=disable

# REDIS
SCAVO_REDIS_ADDR=localhost:6379
SCAVO_REDIS_PASSWORD=
SCAVO_REDIS_DB=0

# READINESS
SCAVO_READINESS_REQUIRE_POSTGRES=false
SCAVO_READINESS_REQUIRE_REDIS=false

# CHAIN
SCAVO_SCAVIUM_RPC_URL=http://localhost:18545
SCAVO_SCAVIUM_CHAIN_ID=1987374788

# LOG
SCAVO_LOG_LEVEL=debug